# Игнорирование файлов 'Rust':

*.rs

# Игнорирование всех файлов, схожих по написанию, где вместо знака '?' будет любой другой символ.
# Но игнорируется только, если вместо '?' стоит один символ:

Code?.txt

# Игнорирование директории и всех файлов внутри этой директории:

script/